body {
  width: 800px;
  margin: 0px;
  background-color: black;
  color: white;
  font: 500 1em/1.5 "futura-pt", "Century Gothic", "Futura", sans-serif;
}

#advice {
  font-size: 15px;
}

#buttons {
  margin-bottom: 20px;
}

button {
  margin: 10px;
}

#details {
  text-align: center;
}

#info {
  font-size: 16px;
}
